<%= video.published_at.strftime("%B %d, %Y") %>
<%= video.channel.artist.name %>

<tr>
	<td><%= video.published_at.strftime("%B %d, %Y") %></td>
	<td><%= video.name %></td>
	<td><%= video.channel.artist.name %></td>
</tr>

	<div class="ui hidden divider"></div>
	<div id="pagination">
	  <%= link_to_next_page(@releases, 'Show More', :remote => true, class: "fluid ui button") %>
	</div>

		<%= render 'layouts/navigation' %>

<tr>
	<td>Video</td>
	<td><%= video.published_at.strftime("%B %d, %Y") %></td>
	<td><%= link_to video.name, "https://www.youtube.com/watch?v=#{video.key}", :target => "_blank" %></td>
	<td><%= link_to video.channel.artist.name, artists_root_path(video.channel.artist) %></td>
</tr>

<table id="videos" class="ui padded table">
	<tbody>
		<%= render @videos %>
	</tbody>
</table>
<div class="ui hidden divider"></div>
<div id="pagination">
  <%= link_to_next_page(@videos, 'Show More', :remote => true, class: "fluid ui button") %>
</div>

<div class="ui inverted fixed top large three item menu">
	<%= link_to artists_index_path, class: "item" do %>
    <i class="red users icon"></i>Artists</a>
  <% end %>
	<%= link_to root_path, class: "item" do %>
    <i class="red home icon"></i>Hiphoplog</a>
  <% end %>
  <% if user_signed_in? && current_user.admin? %>
  	<%= link_to rails_admin_path, class: "item" do %>
    	<i class="red info circle icon"></i>Admin</a>
  	<% end %>
	<% else %>
  	<%= link_to about_path, class: "item" do %>
  		<i class="red info circle icon"></i>About</a>
  	<% end %>
	<% end %>
</div>

<div class="ui inverted fixed bottom large three item menu">
	<%= link_to videos_index_path, class: "item" do %>
    <i class="red video play icon"></i>Videos</a>
  <% end %>
	<%= link_to songs_index_path, class: "item" do %>
    <i class="red music icon"></i>Songs</a>
  <% end %>
		<%= link_to albums_index_path, class: "item" do %>
    <i class="red sound icon"></i>Albums</a>
  <% end %>
</div>