<%= video.published_at.strftime("%B %d, %Y") %>
<%= video.channel.artist.name %>

<tr>
	<td><%= video.published_at.strftime("%B %d, %Y") %></td>
	<td><%= video.name %></td>
	<td><%= video.channel.artist.name %></td>
</tr>

	<div class="ui hidden divider"></div>
	<div id="pagination">
	  <%= link_to_next_page(@releases, 'Show More', :remote => true, class: "fluid ui button") %>
	</div>

		<%= render 'layouts/navigation' %>